.background-animate {
    background-size: 400%;

    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
  }



  @keyframes AnimationName {
    0%{
      background-position: 0% 25%;
    }
    25% {
      background-position: 25% 50%;
    }
    50% {
      background-position: 50% 75%;
    }
    75%{
        background-position: 75% 100%;
    }
    75%{
        background-position: 0% 25%;
    }
  }